/*
 * In a land shrouded in mystery...
 */

 :root {
  --constructionYear: 980px;
  --destructionYear: 1503px;
}

@font-face {
  font-family: "Moonshadow Fortress";
  src: url("/location/MoonshadowFortress.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* General styling for the body */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1A1A1A; /* Dark castle background */
  color: #FFFFFF; /* White text for better readability on dark background */
}

/* Container class for a flexible layout */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Primary button styling */
.btn-primary {
  background-color: #FF8040;
  color: #FFFFFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #FF5503;
}

/* Header styling */
.header {
  background-color: #292929; /* Darker color for header */
  color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
  font-family: "Moonshadow Fortress", Arial, sans-serif; /* Apply custom font */
}

.header h1 {
  margin: 0;
  font-size: 2.5em;
}

/* Navigation styling */
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #575757; /* Dark background for nav */
  padding: 10px 0;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 20px;
}

.nav a:hover {
  background-color: #292929;
}

/* Main content area styling */
.main-content {
  background-color: #1A1A1A; /* Dark background */
  color: #FFFFFF; /* White text */
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

/* Footer styling */
.footer {
  background-color: #292929; /* Darker color for footer */
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

/*
 * ...there stood a Dark Castle
 */

/* Responsive styling */
@media (max-width: 768px) {
  .header h1 {
    font-size: 2em;
  }

  .nav {
    flex-direction: column;
  }

  .nav a {
    padding: 10px;
  }
}

/* Dark castle specific styles */
#dark-castle {
  opacity: 1;
  display: block;
  visibility: visible;
  font-family: "Moonshadow Fortress";
  height: calc(var(--destructionYear) - var(--constructionYear));
}

.tower {
  background: #292929 !important;
}

/* Example of applying a class and ID */
.highlight {
  background-color: #292929; /* Darker highlight color */
}

#uniqueElement {
  background-color: #DFC200;
}
